<h1>Here are the users!</h1>

<div class='wrapper'>

<div class= 'wraperusers'>
        <% @users.each do |user|%>
        <div class= 'styleusers'>
       <%= image_tag user.photo,alt: "image user" %>
            <div class='title'>
               <h2><%= link_to user.name, user_path(user) %></h2>
                <div class = 'counter'>
                    <p>posts counters:<%= user.postscounter%></p>
                </div>
            </div>
        </div>
     <%end%>
    </div>
</div>
