<h1>Here are the users!</h1>

<div class='wrapper'>
<div class= 'wraperusers'>
        <% @users.each do |user|%>
        <div id='<%=user.id%>' class= 'styleusers'>
        <div>
        <%= image_tag (user.photo) %>
       </div>
            <div class='title'>
               <h2><%= link_to user.name, user_path(user) %></h2>
                <div class = 'counter'>
                    <p>posts counters:<%= user.posts_counter%></p>
                </div>
            </div>
        </div>
     <%end%>
    </div>
</div>

